body {
  margin: 0;
  max-height: 100vh;
  overflow-y: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#carouselExampleCaptions{
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.navbar{
  z-index: 1;
}
.Slider{
  max-height: 100px;
  overflow-y: scroll;
  background-color: #fff;
  
}
.Overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:1;
  background-color: rgba(28, 53, 63, 0.5);
}
.SearchField{
  padding: 20px;
  border-radius:30px;
  font-size:21px;
  color:#fff;
  background-color:#212529;
  border:none;
  -webkit-border-radius:30px;
  
}